html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

body {
  background: linear-gradient(90deg, rgb(188, 225, 255) 0%, rgb(188, 227, 250) 50%, rgba(188, 225, 255, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

a:hover {
  background-color: #000;
  color: #fff;
}

.page-wrap {
  background-color: #fff;
  background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
  min-height: 100%;
  width: 50%;
  box-shadow: 0px 0px 15px #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.page-wrap > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-wrap > main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-wrap footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-wrap footer > *:nth-child(2) {
  margin: 0 25px;
}

.page-wrap footer > * {
  text-align: center;
}

.date-select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

.year-select,
.month-select,
.day-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-select select {
  padding: 5px;
  height: 40px;
  min-width: 80px;
  line-height: 40px;
  text-align: center;
}

#result {
  margin: 25px 0;
}

#result .single,
#result .album {
  position: relative;
  border: 1px solid #ccc;
  padding: 25px;
  border-radius: 10px;
  margin: 25px 0;
  box-shadow: 0 6px 5px -5px #000;
}

#result .single {
  margin-bottom: 50px;
}

#result .header {
  position: absolute;
  top: -15px;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#result .title {
  font-weight: 600;
}

#result .interpret {
  font-style: italic;
}

@media only screen and (max-width: 1000px) {
  .page-wrap {
    width: 100%;
  }
}
